.subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 35px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 20px;
    margin-right: 10px;
}

.subscribe-button:hover {
    opacity: 0.6;
    transition: opacity 0.15s;
}

.subscribe-button:active {
    background-color: blue;
    opacity: 0.3;
}

.join-button {
    background-color: white;
    border-color: rgb(41, 118, 211);
    border-style: solid;
    border-width: 1.2px;
    color: rgb(41, 118, 211);
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.join-button:hover {
    background-color: rgb(41, 118, 211);
    color: white;
    transition: background-color 0.15s,
        color 0.15.s;
}

.join-button:active {
    opacity: 0.7;
}

.tweet-button {
    background-color: rgb(29, 137, 255);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    border-radius: 17.5px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
}

.tweet-button:hover {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
}